ul{
    /* border:hidden; */
    display:flex;
    align-content: center;
    justify-content: center;
    padding: 30px;
}
ul li{
    list-style: none;

}
ul li a{
    text-transform: uppercase;
  font-weight: bold;
  color: rgb(10, 10, 10);
  font-size: 1.5em;
  text-decoration: none;
  padding: 2em;
  letter-spacing: 1px;
}
ul li a:hover {
    border-top:3px solid ;
   
    border-bottom: 3px solid #fff;
}
.header {
    padding: 20px;
    height: 500vh;
    background-size: cover;
  position: relative;
}
.flex1{
    
    color: white;
    padding: 100px 150px 150px 100px;
    background: linear-gradient(to bottom, #16222a, #4e4376);
}
    

.flex1 h1 {
    font-size: 325%;
    text-align: center;
    padding: 20px;
    
}
.flex1 h2,h3{
    font-size: 200%;
}
.flex1 p {
    font-weight: 400%;
    font-family: serif;
    font-size: 150%;
}
.flex2 img {
    display:flex;
    width: 500px;
    height: 500px;
}
.flex2 p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex1 img:hover{
    transform:scale(1.01,1.01);
    
}

.privacy h1{
    border-top: solid #fff;
    text-align: left;
    
}
.right {
    border-bottom: solid#fff ;
    
}
.flex1 img{
    box-shadow:20px 20px 50px  black;
}
h1, h2, h3{
    text-transform: uppercase;
}