ul{
    /* border:hidden; */
    display:flex;
    align-content: center;
    justify-content: center;
    padding: 30px;
    border-bottom: solid#fff;
}
ul li{
    list-style: none;
    

}
ul li a{
    text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  padding: 2em;
  letter-spacing: 1px;
}
ul li a:hover {
    border-top:3px solid ;
   
    border-bottom: 3px solid #fff;
}
.header {
    padding: 20px;
    height: 500vh;
    background-size: cover;
  position: relative;
}
body{
    background: linear-gradient(to bottom, #595f63, #2b2441);
    color:#fff;
}
.prog a{
    
    text-decoration: none;
    list-style: none;
    color:#fff

}

h3{
    font-size: 175%;
}
p{
    font-size: 150%;
}
img{
    width: 500px;
    height: 500px;
}
.snowden{
    border-bottom: solid#fff;
    margin: auto;
}
.julian{
    border-bottom: solid#fff;
    margin: auto;
    
}
.gnu{
    border-bottom: solid#fff;
    margin: auto;
}
img:hover{
    transform: scale(1.05,1.05);
}
